* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 80px;
    font-size: 50px;
}

.truckvid {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.About-us {
padding: 40px;
font-size: 80px;
}
.About {
    text-align: center;

}
.About-text {
    font-size: 20px;
    text-align: center;
    margin: 50px;
}

.title {
    margin: 30px;
    padding-top: 20px;
    font-size: 50px;
}

.rates {
    text-align: center;
    margin: 20rem;
}

.rate-text {
    font-size: 20px;
    text-align: center;
    margin: 50px;
}

.text {
padding-top: px;
font-size: 2vh;
}

.hey {
    font-size: 25px;
    
}

.cation {
    padding-top: 1px;
    font-size: 30px;
}

.offer {
    padding-top: 30px;
}

.banner-card {
    position: relative;
}

.banner-card img {
    max-width: 100%;
    height: auto;
}

.banner-text {
 position: absolute;
 top: 10%;
 padding: 20px;
}

.banner-text h4{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px ;
}

.head {
    font-size: 4rem;
}
.alliance {
    font-size: 2rem;
}

.start-cards {
    padding: 30px;
}

.hi {
    font-size: 30px;
}

.texted{
    font-size: 2vh;
}

.sent {
    font-size: 2vh;
}
